# ignore all bin directories
# matches "bin" in any subfolder
*.json
bin/
build/
.classpath
.project
.settings/
.idea/
.DS_Store
# ignore all target directories
target/

# ignore all files ending with ~
*~ 
