<!doctype html>
<html lang="en" ng-app="mamulApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="img/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Dosis:400,500,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet' type='text/css'>

	<title>Irfan Plastik</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="css/docs.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>

	<script type="text/javascript" charset="utf-8">
		var mamulApp = angular.module('mamulApp', []);
		mamulApp.controller('MamulCtrl',['$scope', function($scope){
			var show = true;

			$scope.on = function(){
				//console.log("on " + show);
				show = true;
			}

			$scope.off = function(){
				//console.log("off " + show);
				show = false;
			}

			$scope.showState = function(){
				//console.log("showButton " + show);
				return show;
			}
		}]);
	</script>
</head>
<body>

<div class="container">
	<div class="row text-warning" style="text-align:center;">
		<label class="text-warning">Hammadde Ekleme</label>
	</div>
	<div class="row">
		<form class="form-horizontal" role="form" method="post" action="/HelloWorld/mamul" ng-controller="MamulCtrl">
			<div class="form-group">
				<label for="mamulad" class="col-xs-3 control-label">Adı: </label>

				<div class="col-xs-8">
					<input type="text" class="form-control" name="mamulad" ng-model="mamulad" placeholder="Mamül Adı">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label"></label>

				<div class="col-xs-8">
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" value="option1" ng-click="on()">
							Üretim
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" value="option2" ng-click="off()">
							Montaj
						</label>
					</div>
				</div>
			</div>

			<hr class="divider"/>

			<div class="form-group" ng-model="mamulTypeUretim" ng-show="showState()">
				<label for="hammadde" class="col-xs-3 control-label">Hammadde: </label>

				<div class="col-xs-8">
					{{show}}
				</div>

			</div>

			<div class="form-group" ng-model="mamulTypeMontaj" ng-hide="showState()">
				<label for="yarimamul" class="col-xs-3 control-label">Yarımamül: </label>

				<div class="col-xs-8">
					{{show}}
				</div>
			</div>

			

			<div class="form-group">
				<label for="birim" class="col-xs-3 control-label">Birim: </label>

				<div class="col-xs-8">
				</div>
			</div>
			<div class="form-group">
				<label for="miktar" class="col-xs-3 control-label">Miktar: </label>

				<div class="col-xs-8">
					<input type="text" class="form-control" name="miktar" ng-model="miktar" placeholder="Kullanılan Miktar">
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">&nbsp;</label>

				<div class="col-xs-8">
					<button type="submit" class="btn btn-warning">Bileşen Ekle</button>
				</div>
			</div>
		</form>
	</div>

</div>



</body>
</html>