.updateHref, .okHref, .deleteHref, .icerikHref {
	font-size: 11px;
}
.updateHref, .hideShowHref {
	font-size: 11px;
	background-color: darkseagreen;
}
.okHref, .icerikHref {
	font-size: 11px;	
	background-color: goldenrod;
}
.deleteHref {
	font-size: 11px;
	background-color: red;
}
.tableplan{
	width:100%;
	background-color:#E1DFBA;
	/*background-color:##E6E6E6;*/
	border-top:2px solid darkkhaki;
}
.tableplan tr {
	border-bottom:1px solid darkkhaki;
}
.tableplan td {
	padding: 5px 2px 5px 2px;
}
